{% extends 'york/base.html' %}

{% block page_header %}
    <h1>YorkshireMC</h1>
{% endblock page_header %}

{% block content %}
    <div class="container text-center">
        {% load static %}

        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <img src="{% static 'images/server-icon.png' %}" alt="icon" class="img-fluid rounded" style="width:
                300px; height: 300px;">
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <p class="lead">
                    Currently this website is still being developed. This is a place where ya'll can go to download the
                    mods used on the 2 servers I run.
                </p>
            </div>
        </div>
    </div>

{% endblock content %}