{% extends 'york/base.html' %}

{% block page_header %}
    <h1>Modpacks</h1>
{% endblock page_header %}

{% block content %}
    {% load static %}

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-auto me-5">
                <img src="{% static 'images/YorkshireMC.png' %}" alt="icon" class="img-fluid rounded" style="width:
                300px; height: 300px;">
                <h2>YorkshireMC</h2>
                <a href="{% static 'downloads/YorkshireMC-v3.zip' %}" download>YorkshireMC-v3.zip</a>
            </div>

            <div class="col-auto">
                <img src="{% static 'images/LOD.png' %}" alt="icon" class="img-fluid rounded" style="width: 300px;
                height: 300px;">
                <h2>Land Of Dreams</h2>
                <a href="{% static 'downloads/LOD-v3.zip' %}" download>LOD-v3.zip</a>
            </div>
        </div>
    </div>

{% endblock content %}
